/*
 * Night style (white on black).
 */

body {
    background: none repeat scroll 0 0 #1F2021 !important;
}

h2, .post blockquote, .author, .author a, .date, .comment.comment_author .author, .comment.comment_author .author a, .comment.comment_author .date, .comment.comment_author h4 {
	color:#DED9CD !important;
}

#frame, #footer_content_sidebars {
    background-color: #1F2021 !important;
}

body {
    color: #D3D3D3 !important;
}

a {
    color: #3D90CB !important;
}

.info {
    background: none repeat scroll 0 0 #494949 !important;
}

div.sharedaddy div.sd-block {
    border-color: #BBBBBB !important;
}

div.sharedaddy a.sd-button {
    background: #505050 !important;
    border: 1px solid #262626 !important;
    box-shadow: 0 1px 0 #000000 inset !important;
    color: #FFFFFF !important;
}

.wp-pagenavi a, .wp-pagenavi span.pages, .wp-pagenavi span.extend {
    background: none repeat scroll 0 0 #515151 !important;
    border: 1px solid #3E3E3F !important;
    color: #EDEDED !important;
}

.wp-caption {
    background-color: #404040 !important;
    border: 1px solid #383838 !important;
}

code {
  background-color: #404040 !important;
  border-color: #383838 !important;
  border-color: #F9F9F9 !important;
}

DIV#socialmedia-container IMG {
  box-shadow: 0 0 0 0 #000000 !important;
  opacity: 1;
}

.syntaxhighlighter {
    background-color: #0F192A !important;
}

.syntaxhighlighter .line.alt1 {
    background-color: #0F192A !important;
}

.syntaxhighlighter .line.alt2 {
    background-color: #0F192A !important;
}

.syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
    background-color: #253E5A !important;
}

.syntaxhighlighter .line.highlighted.number {
    color: #38566F !important;
}

.syntaxhighlighter table caption {
    color: #D1EDFF !important;
}

.syntaxhighlighter .gutter {
    color: #AFAFAF !important;
}

.syntaxhighlighter .gutter .line {
    border-right: 3px solid #435A5F !important;
}

.syntaxhighlighter .gutter .line.highlighted {
    background-color: #435A5F !important;
    color: #0F192A !important;
}

.syntaxhighlighter.printing .line .content {
    border: medium none !important;
}

.syntaxhighlighter.collapsed {
    overflow: visible !important;
}

.syntaxhighlighter.collapsed .toolbar {
    background: none repeat scroll 0 0 #000000 !important;
    border: 1px solid #435A5F !important;
    color: #428BDD !important;
}

.syntaxhighlighter.collapsed .toolbar a {
    color: #428BDD !important;
}

.syntaxhighlighter.collapsed .toolbar a:hover {
    color: #1DC116 !important;
}

.syntaxhighlighter .toolbar {
    background: none repeat scroll 0 0 #435A5F !important;
    border: medium none !important;
    color: #D1EDFF !important;
}

.syntaxhighlighter .toolbar a {
    color: #D1EDFF !important;
}

.syntaxhighlighter .toolbar a:hover {
    color: #8AA6C1 !important;
}

.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
    color: #D1EDFF !important;
}

.syntaxhighlighter .comments, .syntaxhighlighter .comments a {
    color: #428BDD !important;
}

.syntaxhighlighter .string, .syntaxhighlighter .string a {
    color: #1DC116 !important;
}

.syntaxhighlighter .keyword {
    color: #B43D3D !important;
}

.syntaxhighlighter .preprocessor {
    color: #8AA6C1 !important;
}

.syntaxhighlighter .variable {
    color: #FFAA3E !important;
}

.syntaxhighlighter .value {
    color: #F7E741 !important;
}

.syntaxhighlighter .functions {
    color: #FFAA3E !important;
}

.syntaxhighlighter .constants {
    color: #E0E8FF !important;
}

.syntaxhighlighter .script {
    color: #B43D3D !important;
    font-weight: bold !important;
}

.syntaxhighlighter .color1, .syntaxhighlighter .color1 a {
    color: #F8BB00 !important;
}

.syntaxhighlighter .color2, .syntaxhighlighter .color2 a {
    color: #FFFFFF !important;
}

.syntaxhighlighter .color3, .syntaxhighlighter .color3 a {
    color: #FFAA3E !important;
}

